.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

/* Estilos globales para el footer */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}